@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-main {
    @apply text-center text-3xl my-5;
  }

  .btn {
    @apply bg-gray-800 text-white rounded-md p-3 tracking-wider;
  }

  .btn-ok {
    @apply bg-emerald-500 text-white w-full active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none  ease-linear transition-all duration-150 cursor-pointer tracking-widest;
  }

  .btn-danger {
    @apply bg-red-500 text-white w-full active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 tracking-widest cursor-pointer;
  }

  .btn-x {
    @apply p-1 ml-auto bg-transparent border-0 text-black text-3xl leading-none font-semibold outline-none focus:outline-none;
  }

  .label {
    @apply block mb-2 text-sm font-medium text-gray-900;
  }

  .input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
  }

  .message-error {
    @apply text-red-500 italic text-sm mb-4 block;
  }
}
